@using GoByMobilePortal.Web.Enums
@model GoByMobilePortal.Web.Models.RestaurantDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @*@RenderBody()*@
    @Html.Partial("Details", Model)
</div>

<!-- Footer Level  1-->
@Html.Action("FooterLevel1", "Home", new { footerType = FooterType.Details })

<!-- Footer Level  2-->
@Html.Action("FooterLevel2", "Home", new { footerType = FooterType.Details })